<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pregunta_1</key>
	<integer>0</integer>
	<key>Pregunta_2</key>
	<integer>0</integer>
	<key>Pregunta_3</key>
	<integer>0</integer>
	<key>Pregunta_4</key>
	<integer>0</integer>
	<key>Pregunta_5</key>
	<integer>0</integer>
	<key>Pregunta_6</key>
	<integer>0</integer>
	<key>Pregunta_7</key>
	<integer>0</integer>
	<key>Pregunta_8</key>
	<integer>0</integer>
	<key>Pregunta_9</key>
	<integer>0</integer>
	<key>Pregunta_10</key>
	<integer>0</integer>
</dict>
</plist>
